.body {background-image: url("backy.jpeg");
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 0px;    
}

.navbar button{
    background-color: #B442A2;
    color: white;
    border-radius: 10px;
    border: none;
    width: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: -3.54545px 13px 30.7273px rgb(0 0 0 / 25%);
}
.love{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* display: flex; */
    align-items: center;
    letter-spacing: 0.08em;
    color: #000000;
 
}

.form-control{
    padding-left: 50%;
}
.search{
    background-color: #B442A2 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 12px !important;
    padding-bottom: 13px !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;

}
.bi-search{
    color: white;
}
.style{
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}
.register-school{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.explore{
    margin-top: 60px;
}
.tao{
    border: none;
    background: rgba(217, 217, 217, 0.67) !important;
    box-shadow: 9.36008px 39.1421px 13.6147px rgb(0 0 0 / 25%);
    border-radius: 20px !important;

    }
.pop{
        width: 148px;
        height: 43px;
        background: #B442A2;
        border: none;
        box-shadow: -3.54545px 13px 30.7273px rgb(0 0 0 / 25%);
        border-radius: 17.7273px;
        color: white;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 16px
    
}
h1{
    font-weight: 900 !important;
    font-family: 'Nunito';
    line-height: 45px;
    letter-spacing: 0.07em;
}

.polo{
    margin-left: 15px;
    padding-top: 8px;
    padding-right: 19px;
    border-radius: 5px;
    border-color: whitesmoke;
    padding-bottom: 8px;
}
    
label{
    color: blue;
}
.we{
    width: 100%;
    background-color: #B442A2;
    box-shadow: -3.54545px 13px 30.7273px rgba(14, 7, 7, 0.25);
    color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 60px;
    margin-top: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    }
    a:link{
        color: whitesmoke;
    }
    a:visited{
        color: white;
    }
a:hover{
    color: darkorange !important;
    text-decoration: none;
    /* display: inline-block; */
}
iframe{
    height: 600px;
    width: 100%;
    border: none;
}
h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    /* font-size: 15px; */
    line-height: 18px;
    display: flex;
    
    }
h3{
    font-size: 30px;
}
.note{
    text-align: left;
    color: grey;
    font-size: 11px;
    display: block !important;
    padding-left: 17px;
}
    
.over{
    width: 110px;
    height: 40px;
        
}
.border{
    border-radius: 7px !important;
}
.border1{
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}  
.border2{
    border-bottom-left-radius: 9px !important;
    border-top-left-radius: 9px !important;

}
.border3{
    border-bottom-right-radius: 9px !important;
    border-top-right-radius: 9px !important;

}
@media screen and (max-width:414px) {
    .pop{
        margin-bottom: 50px;
    }
}
    